
.App {
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.view {
  display: flex;
  width: 450px;
  justify-content: center;
  align-items: center;
}

.view2 {
  display: flex;
  width: 450px;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  margin-top: 10px;
}
